@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: aliceblue;
}

html, body {
    height: 100%;
}

body {
    background: #0F2027;  
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027); 
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Buttons */
button {
    background-color: #1d4455;
    padding: 8px 12px;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    box-shadow: 0px 2px 4px 0px rgb(31, 31, 31, .7);
    transition: 0.2s;
    cursor: pointer;
}

button:hover {
    background-color: #122a35;
}

.modal-create-btn {
    font-size: 1.3rem;
    padding: 12px 16px;
    border: 2px solid #061e29;
}

.create-btn {
    background-color: #319f66;
    border-color: #0d3621;
}

.create-btn:hover {
    background-color: #1a613c;
}

.edit-btn {
    background-color: #d39819;
    border-color: #3f2d07;
}

.edit-btn:hover {
    background-color: #7e5807;
}

.cancel-btn {
    background-color: #758695;
    border-color: #2a3036;
}

.cancel-btn:hover {
    background-color: #45505a;
}

.delete-btn {
    background-color: #b61818;
    border-color: #520a0a;
}

.delete-btn:hover {
    background-color: #6d0909;
}

.page-title {
    font-size: 2.5rem;
    margin: 30px;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: #234351;
    border-radius: 12px;
    box-shadow: 0px 4px 10px 0px rgb(31, 31, 31, .4);
    padding: 30px;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    animation-timing-function: ease;
}

.hidden {
    display: none;
}

.fade-out {
    animation-name: fadeOut;
    animation-duration: 0.4s;
    animation-timing-function: ease;
}

#modal-create-edit > div:first-of-type {
    margin-bottom: 25px;
}

input {
    width: 100%;
    background-color: #bed2e3;
    margin-top: 4px;
    padding: 6px 10px;
    color: #0F2027;
    outline: none;
    border: 0;
    border-radius: 6px;
}

.modal-buttons {
    margin-top: 45px;
    text-align: right;
}

.modal-buttons button {
    min-width: 70px;
    margin-left: 10px;
}

@keyframes fadeIn {
    from {top: 25%; opacity: 0;}
    to {top: 50%; opacity: 1}
}

@keyframes fadeOut {
    from {top: 50%; opacity: 1;}
    to {top: 25%; opacity: 0}
}

.task-list {
    width: 80%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.task {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #264d5f;
    color: #c3d9ed;
    border-radius: 8px;
    margin-bottom: 12px;
}

.deadline {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F2027;
    color: inherit;
    min-width: 125px;
    border-radius: 8px 0 0 8px;
}

.description {
    padding: 15px 10px;
    color: inherit;
}

.edit-icon, .delete-icon {
    height: 40px;
    border: 0;
    cursor: pointer;
}

.edit-icon {
    margin: 8px 0 8px auto;
}

.delete-icon {
    margin: 8px 10px;
}

#task-description {
    font-weight: bold;
}